In [3]:
!pip install joblib

Requirement already satisfied: joblib in d:\workspace\pro\venv\lib\site-packages (1.2.0)
Collecting numpy
  Downloading numpy-1.23.3-cp310-cp310-win_amd64.whl (14.6 MB)
     ---------------------------------------- 14.6/14.6 MB 2.3 MB/s eta 0:00:00
Collecting pandas
  Downloading pandas-1.5.0-cp310-cp310-win_amd64.whl (10.4 MB)
     ---------------------------------------- 10.4/10.4 MB 1.5 MB/s eta 0:00:00
Collecting sklearn
  Using cached sklearn-0.0.tar.gz (1.1 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Collecting joblib
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
     -------------------------------------- 298.0/298.0 kB 3.7 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.1 in d:\workspace\pro\venv\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2022.2.1-py2.py3-none-any.whl (500 kB)
     -------------------------------------- 500.6/500.6 kB 3.9 MB/s eta 0:00:00
Collecting scikit-learn
  Downloading scikit_learn-1.1.2-cp310-cp310-win_amd64.whl (7.4 MB)
     ---------------------------------------- 7.4/7.4 MB 6.3 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in d:\workspace\pro\venv\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Collecting scipy>=1.3.2
  Downloading scipy-1.9.1-cp310-cp310-win_amd64.whl (38.6 MB)
     ---------------------------------------- 38.6/38.6 MB 4.7 MB/s eta 0:00:00
Collecting threadpoolctl>=2.0.0
  Using cached threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1310 sha256=39a4249c69b2e9bea9ae9451a5aeb27bae32d556583daef52b2f0d15dcd040bf
  Stored in directory: c:\users\dell\appdata\local\pip\cache\wheels\9b\13\01\6f3a7fd641f90e1f6c8c7cded057f3394f451f340371c68f3d
Successfully built sklearn
Installing collected packages: pytz, threadpoolctl, numpy, joblib, scipy, pandas, scikit-learn, sklearn
Successfully installed joblib-1.2.0 numpy-1.23.3 pandas-1.5.0 pytz-2022.2.1 scikit-learn-1.1.2 scipy-1.9.1 sklearn-0.0 threadpoolctl-3.1.0

In [39]:
import json
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split as tt
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier as rf
from sklearn.ensemble import ExtraTreesClassifier 
import joblib

In [6]:
df = pd.read_csv('https://raw.githubusercontent.com/pplonski/datasets-for-start/master/adult/data.csv', skipinitialspace=True)

In [10]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [8]:
x_cols = [c for c in df.columns if c != 'income']

In [13]:
X = df[x_cols]
Y = df['income']

In [15]:
X_train,X_test,Y_train,Y_test =tt(X,Y,test_size = 0.3,random_state = 1234)

In [44]:
train_mode = dict(X_train.mode().iloc[0])
X_train = X_train.fillna(train_mode)

In [45]:
print(train_mode)

{'age': 31.0, 'workclass': 3.0, 'fnlwgt': 121124.0, 'education': 11.0, 'education-num': 9.0, 'marital-status': 2.0, 'occupation': 9.0, 'relationship': 0.0, 'race': 4.0, 'sex': 1.0, 'capital-gain': 0.0, 'capital-loss': 0.0, 'hours-per-week': 40.0, 'native-country': 37.0}

In [32]:
# convert those categoricals into numbers
encoders = {}
for column in ['workclass','education','marital-status',
                'occupation','relationship','race','sex','native-country']:
    categorical_convert = LabelEncoder()
    X_train[column] = categorical_convert.fit_transform(X_train[column])
    encoders[column] = categorical_convert

In [35]:
rf = rf(n_estimators=100)
rf = rf.fit(X_train,Y_train)

In [41]:
et = ExtraTreesClassifier(n_estimators=100)
et = et.fit(X_train,Y_train)

In [47]:
joblib.dump(train_mode,"./train.mode.joblib",compress=True)
joblib.dump(encoders,"./encoders.joblib",compress=True)
joblib.dump(rf,"./random_forest.joblib",compress=True)
joblib.dump(et,"./et.joblib",compress=True)

['./et.joblib']